@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-top: 30px;
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .navbar .cart {
  display: flex;
  gap: 10px;
}
.header .navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  margin-top: 20px;
}
.header .navbar-bottom a {
  color: rgb(114, 110, 141);
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 100%;
  transition: all 0.2s linear;
}
.header .navbar-bottom a:hover {
  color: rgb(26, 26, 26);
}
@media (max-width: 1024px) {
  .header .navbar-bottom {
    gap: 24px;
  }
  .header .navbar-bottom a {
    font-size: 14px;
  }
  .header .navbar {
    padding: 10px 16px;
  }
}
@media (max-width: 500px) {
  .header .navbar {
    align-items: flex-start;
    padding: 10px 16px;
  }
  .header .navbar .search {
    display: flex;
    align-items: center;
  }
  .header .navbar .cart {
    display: flex;
    align-items: center;
  }
  .header .navbar-bottom {
    display: none;
  }
  .header .navbar-bottom a {
    font-size: 13px;
    padding: 6px 10px;
  }
}

.hero {
  width: 100%;
  margin-top: 30px;
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img img {
  width: 100%;
  height: auto;
  display: block;
}
.hero .hero-img .white-box {
  position: absolute;
  width: 50%;
  background-color: white;
  z-index: 1;
  left: 70%;
  bottom: 10%;
  transform: translateX(-50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero .hero-img .white-box .class-p {
  font-family: "Sora", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding: 32px 40px 0;
}
.hero .hero-img .white-box .class-span {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 40px;
}
.hero .hero-img .white-box .view-btn {
  padding: 24px 40px;
}
.hero .hero-img .white-box .view-btn button {
  padding: 16px 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  background-color: rgb(249, 249, 249);
  transition: all 0.2s linear;
  cursor: pointer;
}
.hero .hero-img .white-box .view-btn button:hover {
  background-color: gray;
  color: rgb(249, 249, 249);
}

@media (max-width: 500px) {
  .hero {
    margin-top: 0;
  }
  .hero .hero-img {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero .hero-img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .hero .hero-img .white-box {
    position: static;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transform: none;
    padding: 32px 16px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .hero .hero-img .white-box .class-p {
    font-size: 22px;
    line-height: 1.4;
    padding: 0 0 12px 0;
  }
  .hero .hero-img .white-box .class-span {
    font-size: 16px;
    padding: 0 0 24px 0;
  }
  .hero .hero-img .white-box .view-btn {
    padding: 0;
  }
  .hero .hero-img .white-box .view-btn button {
    width: 400px;
    padding: 16px 0;
    background-color: #f6f6f6;
    color: #1b1b1b;
    border: none;
    font-size: 16px;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
  }
}
.brand {
  width: 100%;
  margin-top: 70px;
}
.brand .brand-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand .brand-title h2 {
  font-family: "Sora", sans-serif;
  font-size: 28px;
  line-height: 140%;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 1024px) {
  .brand .brand-title h2 {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .brand .brand-title h2 {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .brand .brand-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .brand .brand-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.brand .brand-box-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
  font-family: "Satoshi", sans-serif;
  justify-items: center;
}
.brand .brand-box-wrap .brand-box-1 {
  width: 305px;
  height: 244px;
  background-color: rgb(249, 249, 249);
  padding: 48px;
  transition: all 0.2s linear;
}
.brand .brand-box-wrap .brand-box-1:hover {
  transform: scale(1.02);
}
.brand .brand-box-wrap .brand-box-1 p {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.brand .brand-box-wrap .brand-box-1 span {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  display: block;
}
@media (max-width: 1024px) {
  .brand .brand-box-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .brand .brand-box-wrap {
    grid-template-columns: 1fr;
  }
  .brand .brand-box-wrap .brand-box-1 {
    width: 100%;
    max-width: 305px;
    margin: 0 auto;
    padding: 32px;
  }
}

.collection {
  width: 100%;
  margin-top: 100px;
}
.collection .collection-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  justify-self: center;
  align-self: center;
  gap: 20px;
  position: relative;
}
.collection .collection-wrap .collection-box-1 {
  background-image: url(/img/collection-1.svg);
  width: 305px;
  height: 375px;
  transition: all 0.2s linear;
}
.collection .collection-wrap .collection-box-1:hover {
  transform: scale(1.02);
}
.collection .collection-wrap .collection-box-2 {
  background-image: url(/img/collection-2.svg);
  width: 305px;
  height: 375px;
  transition: all 0.2s linear;
}
.collection .collection-wrap .collection-box-2:hover {
  transform: scale(1.02);
}
.collection .collection-wrap .collection-box-3 {
  background-image: url(/img/collection-3.svg);
  width: 305px;
  height: 375px;
  transition: all 0.2s linear;
}
.collection .collection-wrap .collection-box-3:hover {
  transform: scale(1.02);
}
.collection .collection-wrap .collection-box-4 {
  background-image: url(/img/collection-4.svg);
  width: 305px;
  height: 375px;
  transition: all 0.2s linear;
}
.collection .collection-wrap .collection-box-4:hover {
  transform: scale(1.02);
}
.collection .collection-wrap .collection-text {
  flex-direction: column;
  position: absolute;
  top: 390px;
}
.collection .collection-wrap .collection-text p {
  font-size: 18px;
  font-family: "Satoshi", sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
}
.collection .collection-wrap .collection-text span {
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .collection .collection-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection .collection-wrap p, .collection .collection-wrap span {
    display: none;
  }
}
@media (max-width: 500px) {
  .collection .collection-wrap {
    grid-template-columns: 1fr;
  }
  .collection .collection-wrap .collection-box-1 {
    width: 100%;
    max-width: 305px;
    margin: 0 auto;
    padding: 32px;
  }
}
.collection .collection-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.collection .collection-btn button {
  padding: 16px 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  background-color: rgb(249, 249, 249);
  transition: all 0.2s linear;
  cursor: pointer;
}
.collection .collection-btn button:hover {
  background-color: gray;
  color: white;
}

.idea {
  width: 100%;
  margin-top: 100px;
}
.idea .idea-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  height: auto;
}
.idea .idea-wrap .idea-box-1 {
  width: 100%;
  background-color: rgb(42, 37, 75);
  padding: 80px;
  color: white;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.idea .idea-wrap .idea-box-1 .idea-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.idea .idea-wrap .idea-box-1 .idea-title p {
  font-size: 32px;
  font-family: "Satoshi", sans-serif;
}
.idea .idea-wrap .idea-box-1 .idea-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.idea .idea-wrap .idea-box-1 .idea-span p {
  font-size: 20px;
  text-align: start;
  font-family: "Satoshi", sans-serif;
  margin-top: 20px;
  font-weight: 300;
}
.idea .idea-wrap .idea-box-1 .idea-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.idea .idea-wrap .idea-box-1 .idea-btn button {
  margin-top: 50px;
  padding: 16px 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  transition: all 0.2s linear;
  background: rgba(249, 249, 249, 0.15);
  color: white;
  cursor: pointer;
}
.idea .idea-wrap .idea-box-1 .idea-btn button:hover {
  background: rgba(249, 249, 249, 0.322);
  transform: scale(1.02);
}
.idea .idea-wrap .idea-box-2 {
  background-image: url("/img/idea-box.svg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
@media (max-width: 1024px) {
  .idea .idea-wrap {
    grid-template-columns: 1fr;
  }
  .idea .idea-wrap .idea-box-2 {
    min-height: 400px;
  }
}
@media (max-width: 500px) {
  .idea .idea-wrap {
    grid-template-columns: 1fr;
  }
  .idea .idea-wrap .idea-box-1 {
    max-width: 100%;
    padding: 40px 24px;
  }
  .idea .idea-wrap .idea-box-1 .idea-title p {
    font-size: 24px;
  }
  .idea .idea-wrap .idea-box-1 .idea-span p {
    font-size: 16px;
  }
  .idea .idea-wrap .idea-box-1 .idea-btn button {
    margin-top: 40px;
    width: 100%;
  }
  .idea .idea-wrap .idea-box-2 {
    min-height: 300px;
  }
}

.join {
  width: 100%;
  margin-top: 80px;
}
.join .main-bg-img {
  width: 100%;
  min-height: 400px;
  background-image: url("/img/join-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  color: white;
}
.join .main-bg-img .join-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .main-bg-img .join-title p {
  font-family: "Sora", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin: 20px 0 16px;
  text-align: center;
}
.join .main-bg-img .join-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .main-bg-img .join-name p {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
}
.join .main-bg-img .benefit-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.join .main-bg-img .benefit-list .benefit-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Satoshi", sans-serif;
  gap: 10px;
  /* From Uiverse.io by bociKond */
  /* Hide the default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.join .main-bg-img .benefit-list .benefit-item .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.join .main-bg-img .benefit-list .benefit-item .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.join .main-bg-img .benefit-list .benefit-item .checkmark {
  --clr: #0B6E4F;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}
.join .main-bg-img .benefit-list .benefit-item .container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse 500ms ease-in-out;
}
.join .main-bg-img .benefit-list .benefit-item .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.join .main-bg-img .benefit-list .benefit-item .container input:checked ~ .checkmark:after {
  display: block;
}
.join .main-bg-img .benefit-list .benefit-item .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(11, 110, 79, 0.5647058824);
    rotate: 20deg;
  }
  50% {
    rotate: -20deg;
  }
  75% {
    box-shadow: 0 0 0 10px rgba(11, 110, 79, 0.3764705882);
  }
  100% {
    box-shadow: 0 0 0 13px rgba(11, 110, 79, 0.1882352941);
    rotate: 0;
  }
}
.join .main-bg-img .email-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .main-bg-img .email-input .input-self {
  display: flex;
}
.join .main-bg-img .email-input .input-self input {
  width: 354px;
  height: 56px;
  padding: 0 25px;
  border: 2px solid rgb(42, 37, 75);
}
.join .main-bg-img .email-input .input-self button {
  width: 150px;
  height: 56px;
  border: 2px solid rgb(42, 37, 75);
  background-color: rgb(42, 37, 75);
  color: white;
  cursor: pointer;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .join .main-bg-img .join-title p {
    font-size: 32px;
  }
  .join .main-bg-img .join-name p {
    font-size: 16px;
  }
  .join .main-bg-img .input-self {
    gap: 12px;
  }
  .join .main-bg-img .input-self input,
  .join .main-bg-img .input-self button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .join .main-bg-img .join-title p {
    text-align: start;
    font-size: 24px;
  }
  .join .main-bg-img .join-name p {
    text-align: start;
    font-size: 14px;
  }
  .join .main-bg-img .benefit-list {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .join .main-bg-img .email-input .input-self {
    align-items: center;
  }
  .join .main-bg-img .email-input .input-self input {
    width: 160px;
  }
  .join .main-bg-img .email-input .input-self button {
    width: 100px;
    transition: all 0.2s linear;
  }
  .join .main-bg-img .email-input .input-self button:hover {
    transform: scale(1.03);
  }
}

.footer {
  width: 100%;
  background-color: rgb(42, 37, 75);
}
.footer .footer-nav-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  justify-self: flex-start;
  align-self: center;
  padding: 0 0 40px;
}
.footer .footer-nav-wrap .footer-nav-1 {
  display: grid;
  justify-self: flex-start;
  align-self: center;
  flex-direction: column;
  margin-top: 50px;
  font-family: "Satoshi", sans-serif;
  gap: 12px;
}
.footer .footer-nav-wrap .footer-nav-1 a {
  color: white;
  font-size: 16px;
  transition: all 0.2s linear;
}
.footer .footer-nav-wrap .footer-nav-1 a:hover {
  transform: scale(1.01);
  color: gray;
}
.footer .footer-nav-wrap .footer-nav-1 a:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
.footer .footer-nav-wrap .footer-nav-1 .input-self {
  display: flex;
}
.footer .footer-nav-wrap .footer-nav-1 .input-self input {
  width: 100%;
  height: 56px;
  padding: 0 25px;
  border: 2px solid rgb(42, 37, 75);
  background-color: rgba(255, 255, 255, 0.15);
}
.footer .footer-nav-wrap .footer-nav-1 .input-self button {
  width: 150px;
  height: 56px;
  border: 2px solid rgb(42, 37, 75);
  background-color: white;
  color: rgb(42, 37, 75);
  cursor: pointer;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
}
.footer .footer-bottom {
  border-top: 2px solid rgb(78, 77, 147);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer .footer-bottom .footer-p {
  font-family: "Satoshi", sans-serif;
}
.footer .footer-bottom .footer-p p {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.footer .footer-bottom .footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1024px) {
  .footer .footer-nav-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .footer-nav-1 {
    padding: 24px;
    gap: 10px;
  }
  .footer .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer .footer-bottom .footer-social a {
    transition: all 0.2s linear;
  }
  .footer .footer-bottom .footer-social a:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 500px) {
  .footer .footer-nav-wrap {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    justify-self: center;
    align-self: center;
  }
  .footer .input-self {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .input-self button {
    transition: all 0.2s linear;
    border: none;
  }
  .footer .input-self button:hover {
    border: none;
    transform: scale(1.03);
    background-color: rgb(255, 255, 255);
  }
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */