.brand {
    width: 100%;
    margin-top: 70px;


    .brand-title {
        @include flex-center;

        h2 {
            font-family: $font-sora;
            font-size: 28px;
            line-height: 140%;
            font-weight: 300;
        }
    }


    .brand-box-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;

        @include flex-center-grid;
        gap: 30px;
        margin-top: 30px;
        font-family: $font-satoshi;


        .brand-box-1 {
            width: 305px;
            height: 244px;
            background-color: $bg-color-light;
            padding: 48px;
            transition: all 0.2s linear;

            &:hover {
                transform: scale(1.02);
            }

            p {
                padding: 20px 0;
                font-size: 20px;
                font-weight: 400;
            }

            span {
                font-size: 16px;
                font-weight: 300;
                line-height: 150%;
            }
        }
    }


}