.footer {
    width: 100%;
    background-color: $footer-bg-color;



    .footer-nav-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include flex-start-grid;
        gap: 133px;
        padding: 0 0 40px;

        .footer-nav-1 {
            @include flex-start-grid;
            flex-direction: column;
            margin-top: 50px;
            font-family: $font-satoshi;
            gap: 12px;


            a {
                color: white;
                font-size: 16px;
                transition: all 0.2s linear;

                &:hover {
                    transform: scale(1.01);
                    color: gray;
                }
            }


            a:first-child {
                font-weight: bold;
                text-transform: uppercase;
            }


            .input-self {
                display: flex;

                input {
                    width: 354px;
                    height: 56px;
                    padding: 0 25px;
                    border: 2px solid rgba(42, 37, 75, 1);
                    background-color: rgba(255, 255, 255, 0.15);
                }

                button {
                    width: 150px;
                    height: 56px;
                    border: 2px solid rgba(42, 37, 75, 1);
                    background-color: white;
                    color: rgba(42, 37, 75, 1);
                    cursor: pointer;
                    font-family: $font-satoshi;
                    font-size: 18px;
                }
            }



        }

    }

    .footer-bottom {
        border-top: 2px solid rgba(78, 77, 147, 1);
        @include flex-between;
        padding: 20px 0;


        .footer-p {
            font-family: $font-satoshi;

            p {
                font-size: 16px;
                color: white;
                font-weight: 400;
            }
        }

        .footer-social {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}