.header {
    width: 100%;
    margin-top: 30px;
    position: fixed;
    top: -30px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    .navbar {
        @include flex-between;
        padding: 10px;
        border-bottom: 1px solid $line-color;


        .cart {
            display: flex;
            gap: 10px
        }
    }

    .navbar-bottom {
        @include flex-center;
        gap: 44px;
        margin-top: 20px;

        a {
            color: $navbar-btn-color;
            font-family: $font-satoshi;
            font-size: 16px;
            line-height: 100%;
            transition: all 0.2s linear;


            &:hover {
                color: $btn-hover-dark;
            }
        }
    }

    @media (max-width: 1024px) {
        .navbar-bottom {
            gap: 24px;

            a {
                font-size: 14px;
            }
        }

        .navbar {
            padding: 10px 16px;
        }
    }


    @media (max-width: 500px) {
        .navbar {
            align-items: flex-start;
            padding: 10px 16px;

            .search {
                display: flex;
                align-items: center;
            }
            

            .cart {
                display: flex;
                align-items: center;
            }
        }

        .navbar-bottom {
            display: none;

            a {
                font-size: 13px;
                padding: 6px 10px;
            }
        }
    }
    
}