.hero {
    width: 100%;
    margin-top: 30px;

    .hero-img {
        position: relative;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .white-box {
            position: absolute;
            width: 50%;
            background-color: white;
            z-index: 1;
            left: 70%;
            bottom: 10%;
            transform: translateX(-50%);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .class-p {
                font-family: $font-sora;
                font-size: 32px;
                font-weight: 300;
                padding: 32px 40px 0;
            }

            .class-span {
                font-family: $font-satoshi;
                font-size: 18px;
                font-weight: 300;
                padding: 8px 40px;
            }

            .view-btn {
                padding: 24px 40px;

                button {
                    padding: 16px 32px;
                    border: none;
                    font-family: $font-satoshi;
                    font-size: 16px;
                    background-color: $bg-color-light;
                    transition: all 0.2s linear;
                    cursor: pointer;

                    &:hover {
                        background-color: gray;
                        color: $bg-color-light;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .hero {
        margin-top: 0;

        .hero-img {
            display: flex;
            flex-direction: column-reverse;             

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            .white-box {
                position: static;
                width: 100%;
                background-color: rgb(255, 255, 255);
                transform: none;
                padding: 32px 16px;
                align-items: center;
                text-align: center;
                margin-top: 50px;

                .class-p {
                    font-size: 22px;
                    line-height: 1.4;
                    padding: 0 0 12px 0;
                }

                .class-span {
                    font-size: 16px;
                    padding: 0 0 24px 0;
                }

                .view-btn {
                    padding: 0;

                    button {
                        width: 400px;
                        padding: 16px 0;
                        background-color: #f6f6f6;
                        color: #1b1b1b;
                        border: none;
                        font-size: 16px;
                        font-family: $font-satoshi;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}