.idea {
    width: 100%;
    margin-top: 100px;

    .idea-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        height: auto;

        .idea-box-1 {
            width: 100%;
            background-color: $idea-box-1-color;
            padding: 80px;
            color: white;
            font-size: 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .idea-title {
                @include flex-content-start;

                p {
                    font-size: 32px;
                    font-family: $font-satoshi;
                }
            }

            .idea-span {
                @include flex-content-start;

                p {
                    font-size: 20px;
                    text-align: start;
                    font-family: $font-satoshi;
                    margin-top: 20px;
                    font-weight: 300;
                }
            }

            .idea-btn {
                @include flex-content-start;

                button {
                    margin-top: 50px;
                    padding: 16px 32px;
                    border: none;
                    font-family: $font-satoshi;
                    font-size: 16px;
                    transition: all 0.2s linear;
                    background: rgba(249, 249, 249, 0.15);
                    color: white;
                    cursor: pointer;

                    &:hover {
                        background: rgba(249, 249, 249, 0.322);
                        transform: scale(1.02);
                    }
                }
            }
        }

        .idea-box-2 {
            background-image: url('/img/idea-box.svg');
            background-size: cover;
            background-position: center;
            min-height: 300px;
        }

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;

            .idea-box-2 {
                min-height: 400px;
            }
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;

            .idea-box-1 {
                max-width: 100%;
                padding: 40px 24px;

                .idea-title p {
                    font-size: 24px;
                }

                .idea-span p {
                    font-size: 16px;
                }

                .idea-btn button {
                    margin-top: 40px;
                    width: 100%;
                }
            }

            .idea-box-2 {
                min-height: 300px;
            }
        }
    }
}