.join {
    width: 100%;
    margin-top: 80px;

    .main-bg-img {
        width: 100%;
        min-height: 400px;
        background-image: url('/img/join-bg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 20px;
        color: white;

        .join-title {
            @include flex-center;

            p {
                font-family: $font-sora;
                font-size: 40px;
                font-weight: 300;
                margin: 20px 0 16px;
                text-align: center;
            }
        }

        .join-name {
            @include flex-center;

            p {
                font-family: $font-satoshi;
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 40px;
                max-width: 700px;
                text-align: center;
            }
        }

        .benefit-list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;
            margin-bottom: 30px;

            .benefit-item {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                font-family: $font-satoshi;
                gap: 10px;

                /* From Uiverse.io by bociKond */
                /* Hide the default checkbox */
                .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .container {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    font-size: 1.5rem;
                    user-select: none;
                }

                /* Create a custom checkbox */
                .checkmark {
                    --clr: #0B6E4F;
                    position: relative;
                    top: 0;
                    left: 0;
                    height: 1.3em;
                    width: 1.3em;
                    background-color: #ccc;
                    border-radius: 50%;
                    transition: 300ms;
                }

                /* When the checkbox is checked, add a blue background */
                .container input:checked~.checkmark {
                    background-color: var(--clr);
                    border-radius: .5rem;
                    animation: pulse 500ms ease-in-out;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                .container input:checked~.checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .container .checkmark:after {
                    left: 0.45em;
                    top: 0.25em;
                    width: 0.25em;
                    height: 0.5em;
                    border: solid #E0E0E2;
                    border-width: 0 0.15em 0.15em 0;
                    transform: rotate(45deg);
                }

                @keyframes pulse {
                    0% {
                        box-shadow: 0 0 0 #0B6E4F90;
                        rotate: 20deg;
                    }

                    50% {
                        rotate: -20deg;
                    }

                    75% {
                        box-shadow: 0 0 0 10px #0B6E4F60;
                    }

                    100% {
                        box-shadow: 0 0 0 13px #0B6E4F30;
                        rotate: 0;
                    }
                }
            }
        }

        .email-input {
            margin-top: 20px;
            @include flex-center;

            .input-self {
                display: flex;

                input {
                    width: 354px;
                    height: 56px;
                    padding: 0 25px;
                    border: 2px solid rgba(42, 37, 75, 1);
                }

                button {
                    width: 150px;
                    height: 56px;
                    border: 2px solid rgba(42, 37, 75, 1);
                    background-color: rgba(42, 37, 75, 1);
                    color: white;
                    cursor: pointer;
                    font-family: $font-satoshi;
                    font-size: 18px;
                }
            }
        }

        @media (max-width: 1024px) {
            .join-title p {
                font-size: 32px;
            }

            .join-name p {
                font-size: 16px;
            }

            .input-self {
                gap: 12px;


                input,
                button {
                    width: 100%;
                }
            }
        }

        @media (max-width: 500px) {
            .join-title p {
                text-align: start;
                font-size: 24px;
            }

            .join-name p {
                text-align: start;
                font-size: 14px;
            }

            .benefit-list {
                gap: 10px;
                flex-direction: column;
                align-items: flex-start;
            }

            .email-input .input-self {
                align-items: center;

                input {
                    width: 160px;
                }

                button {
                    width: 100px;
                    transition: all 0.2s linear;


                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}