@import url('https://fonts.cdnfonts.com/css/satoshi');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


$font-satoshi: 'Satoshi', sans-serif;
$font-sora: "Sora", sans-serif;

$line-color: rgba(0, 0, 0, 0.1);
$navbar-btn-color: rgba(114, 110, 141, 1);
$btn-hover-dark: rgb(26, 26, 26);
$bg-color-light: rgba(249, 249, 249, 1);
$idea-box-1-color: rgba(42, 37, 75, 1);
$footer-bg-color: rgba(42, 37, 75, 1);